.cover__subtitle {
  font-size: 18px;
  line-height: 1.22;
	color: rgb(255, 255, 255);
	margin-left: 412px;
	margin-right: 412px;
	margin-bottom: 245px;
	width: 30.4%;
	max-width: 360px;
}

@media only screen and (max-width: 1024px) {
	.cover__subtitle {
		margin-left: 332px;
		margin-right: 332px;
		margin-bottom: 195px;
		width: 35.1%;
	}
}

@media only screen and (max-width: 768px) {
	.cover__subtitle {
		margin-left: 204px;
		margin-right: 204px;
		margin-bottom: 115px;
		font-size: 2.4vw;
		width: 46.8%;
	}
}

@media only screen and (max-width: 320px) {
	.cover__subtitle {
		font-size: 14px;
		line-height: 1.14;
		margin-left: 16px;
		margin-right: 16px;
		margin-bottom: 33px;
		max-width: 288px;
		width: 90%;
	}
}