.cover__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
	color: rgb(255, 255, 255);
	margin-left: 412px;
	margin-right: 412px;
	margin-bottom: 245px;
}

@media only screen and (max-width: 1024px) {
	.cover__subtitle {
		margin-left: 332px;
		margin-right: 332px;
		margin-bottom: 195px;
	}
}

@media only screen and (max-width: 768px) {
	.cover__subtitle {
		margin-left: 204px;
		margin-right: 204px;
		margin-bottom: 115px;
		font-size: 2.4vw;
	}
}

@media only screen and (max-width: 320px) {
	.cover__subtitle {
		font-size: 14px;
		line-height: 1.14;
		margin-left: 16px;
		margin-right: 16px;
		margin-bottom: 33px;
	}
}