@import url(../header/__logo/header__logo.css);
@import url(../header/__lang-link/header__lang-link.css);
@import url(../header/__lang-link/header__lang-link_en.css);
@import url(../header/__lang-link/header__lang-link_ru.css);


.header {
	display: flex;
	max-width: 1184px;
	min-height: 52px;
	padding-top: 28px;
	box-sizing: border-box;
	flex-direction: row;
	justify-content: space-between;
}

@media only screen and (max-width: 768px) {
	.header {
		max-width: 720px;
		margin-left: 0;
		margin-right: 0;
	}
}

@media only screen and (max-width: 320px) {
	.header {
		max-width: 288px;
		min-height: 52px;
		box-sizing: border-box;
		margin-right: 0;
		margin-left: 0;
		margin-top: 16px;
	}
}
