.place__paragraphs {
	max-width: 484px;
	width: 100%;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: auto;
	margin-left: 0;
	text-rendering: optimizeLegibility;
}

@media only screen and (max-width: 1024px) {
	.place__paragraphs {
		max-width: 456px;
	}
}

@media only screen and (max-width: 768px) {
	.place__paragraphs {
		max-width: 352px;
	}
	
}
