.footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  color: rgb(255, 255, 255);
  text-align: right;
	margin-left: 0;
	margin-right: 0;
}

@media only screen and (max-width: 738px) {
	.footer__copyright {
		line-height: 1;
		margin-right: -7px;
		margin-bottom: 0;
		margin-top: 48px;
	}
}