@import url(../cover/__title/cover__title.css);
@import url(../cover/__subtitle/cover__subtitle.css);
@import url(../cover/__background/cover__background.css);

.cover {
	display: flex;
	flex-direction: column;
	background-image: url(../../images/cover-trains.jpg);
	background-size: 1184px 740px;
	justify-content: center;
	align-items: center;
	margin-bottom: 92px;
	max-width: 1184px;
	max-height: 740px;
	background-position: center;
}

@media only screen and (max-width: 1024px) {
	.cover {
		max-width: 1024px;
		margin-left: -48px;
		margin-right: -48px;
	}
}

@media only screen and (max-width: 768px) {
	.cover {
		max-width: 768px;
		margin-left: -24px;
		margin-right: -24px;
	}
}

@media only screen and (max-width: 320px) {
	.cover {
		max-width: 320px;
		margin-left: -16px;
		margin-right: -16px;
		background-size: 320px 200px;
		margin-bottom: 64px;
		margin-top: 64px;
	}
}



