.place__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-decoration-line: underline;
	color: rgb(255, 255, 255);
	text-rendering: optimizeLegibility;
	transition: .3s ease;
}

.place__link:hover {
	opacity: 0.8;
}

@media only screen and (max-width: 499px) {
	.place__link {
		font-size: 10px;
	}
}