.cover__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
	color: rgb(255, 255, 255);
	max-width: 560px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 245px;
	margin-bottom: 32px;
}

@media only screen and (max-width: 1024px) {
	.cover__title {
		margin-left: 232px;
		margin-right: 232px;
		margin-top: 195px;
		margin-bottom: 0;
		
	}
}

@media only screen and (max-width: 768px) {
	.cover__title {
	  margin-left: 104px;
	  margin-right: 104px;
	  margin-top: 115px;
	  font-size: 9.5vw;
  }
}

@media only screen and (max-width: 320px) {
	.cover__title {
		font-size: 32px;
		line-height: 1.09;
		margin-left: 16px;
		margin-right: 16px;
		margin-top: 23px;
	}
}