.cover__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
	color: rgb(255, 255, 255);
	max-width: 560px;
	width: 47.3%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 245px;
	margin-bottom: 32px;
}

@media only screen and (max-width: 1024px) {
	.cover__title {
		margin: 195px 232px 0;
		width: 54.7%;
	}
}

@media only screen and (max-width: 768px) {
	.cover__title {
	  margin-left: 104px;
	  margin-right: 104px;
	  margin-top: 115px;
		font-size: 9.5vw;
		width: 73%;
  }
}

@media only screen and (max-width: 320px) {
	.cover__title {
		font-size: 32px;
		line-height: 1.09;
		margin-left: 16px;
		margin-right: 16px;
		margin-top: 23px;
		width: 87.5%;
		max-width: 280px;
	}
}