.intro__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
	color: rgb(255, 255, 255);
	margin: 0 auto 40px 0;
}

@media only screen and (max-width: 320px) {
	.intro__title {
		font-size: 32px;
		line-height: 1.09;
	}
}